<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjb.exceltodb.dao.AreaDao">

	<!-- 根据areaName获取areaCode -->
	<select id="getAreaCodeByAreaName" resultType="java.lang.Integer">
		select areaCode from area where areaName = #{areaName, jdbcType=VARCHAR} and superiorCode = #{superiorCode, jdbcType=INTEGER}
	</select>
</mapper>